@import 'tailwindcss';



*{
  box-sizing: border-box;
}


html, body{
  height: 100dvh;
  width: 100dvw;
}


[data-theme='dark'] {
  --bg: #121212;
  --text: #ffffff;
  --compbg: #333333; 
}

[data-theme="light"] {
  --bg: #D9D9D9;
  --text: #000000;
  --compbg: #E0E0E0; 
}
